# Question1

In [2]:
a = 0 

def b():
 global a # declare a as global variable
 a = c(a)
    
def c(a): 
 return a + 2

b() #c(a) called 0+2=2 returns, we called b() so a=2
b() #again c(a) called, 2+2=4 returns ,we called b() so a=4
b() #again c(a) called, 4+2=6 returns ,we called b() so a=6
a # final value of a is 6

6

# Question2

In [24]:
def file_length(file_name): # Takes the filename as input and and returns the file length as output.
    try:
        file = open(file_name,'r')
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError as file_error_customized:
        print('File {} not found'.format(file_name))
    
f=input("enter a file name with format:")
file_length(f)

enter a file name with format:hello.txt
File hello.txt not found yet

# Question3

In [23]:
class Marsupial:                            
    List=[]
    
    def put_in_pouch(self,item):
        self.List.append(item)
    
    def pouch_contents(self):
        return self.List

In [24]:
mar = Marsupial()
mar.put_in_pouch("doll")
mar.put_in_pouch("firetruck")
mar.put_in_pouch("kitten")
mar.pouch_contents()

['doll', 'firetruck', 'kitten']

In [25]:
class Kangaroo(Marsupial):    
    def __init__(self,x1,y1):
        self.x = x1
        self.y = y1
        Marsupial.__init__(self)
    
    def jump(self,x1,y1):
        self.x = self.x + x1
        self.y = self.y + y1
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinate ({}, {})'.format(self.x, self.y)
    

    
kan = Kangaroo(0,0)
print (kan)

I am a Kangaroo located at coordinate (0, 0)

In [26]:
kan.put_in_pouch("doll")
kan.put_in_pouch("firetruck")
kan.put_in_pouch("kitten")
kan.pouch_contents()
kan.jump(1,0)
kan.jump(1,0)
kan.jump(1,0)
print(kan)

I am a Kangaroo located at coordinate (3, 0)

# Question4

In [21]:
print("enter a number:")
try:
    number = (int(input()))
except ValueError:
          print("Please enter a valid INTEGER")


def collatz(number):

    if number % 2 == 0:
        print(number // 2)
        return number // 2

    elif number % 2 == 1:
        result = 3 * number + 1
        print(result)
        return result

n = input("Give me a number: ")
while n != 1:
    n=collatz(int(n))

enter a number:
b
Please enter a valid INTEGER.
Give me a number: 3
10
5
16
8
4
2
1

# Question5

In [35]:
def convertToBinary(n):
    
   if n > 1:
       convertToBinary(n//2)
   print(n % 2,end = '')

#decimalnumber
n = input("Give me a number: ")

convertToBinary(int(n))
print()

Give me a number: 9
1001

# Question6

In [27]:
from html.parser import HTMLParser            



class HeadingParser(HTMLParser):        
  
    def __init__(self):                    
        HTMLParser.__init__(self)
        self.flag = 0 
        
    def handle_starttag(self, tag, attrs):                             
        if tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag=='h5' or tag == 'h6' or tag == 'h7':
            self.flag += 1                                     
        else:
            self.flag = 0
            
    def handle_data(self, data):            
        if self.flag and data!='\n':
            print('{}{}'.format(self.flag * ' ', data))


file = open(r'w3c.html')     
strr = str(file.read())
parser = HeadingParser()                            
parser.feed(strr)

 W3C Mission


  Principles

# Question7

In [31]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Appender(HTMLParser):
    

    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []


    def append(self):
        
        return self.url_links




    def handle_starttag(self, url_tag, att):
        for a in att:
            b = urljoin(self.url, a[1])
            if b[:4] == 'http': 
                self.url_links.append(b)
k = 0
def webdir(url, depth, k):
   

    depth = depth - 1    
    print(k*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = Appender(url)
    collection.feed(objective)
    urls = collection.append() 
 
    url_links = urls
    k= k + 4


    for link in url_links:
        if depth < 0 or k < 0:
            return 1
        else:
            webdir(link, depth, k)



webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question8

In [18]:
 !pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\anaconda\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\anaconda\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: sqlparse in c:\anaconda\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\anaconda\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in c:\anaconda\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: prettytable<1 in c:\anaconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: decorator in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: jedi>=0.16 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: setuptools>=18.5 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: backcall in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pickleshare in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\anaconda\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaconda\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [20]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
%sql sqlite://

In [ ]:
%%sql 
CREATE TABLE Assignment2(City text, Country text, Season text, Temperature float, Rainfall float);

In [55]:
%%sql   
INSERT INTO assignment2 VALUES ('Mumbai', 'India', 'Winter',24.8,5.9);
INSERT INTO assignment2 VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4);
INSERT INTO assignment2 VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0);
INSERT INTO assignment2 VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2 );
INSERT INTO assignment2 VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7 );
INSERT INTO assignment2 VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6);
INSERT INTO assignment2 VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0);
INSERT INTO assignment2 VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5);
INSERT INTO assignment2 VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
INSERT INTO assignment2 VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
INSERT INTO assignment2 VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
INSERT INTO assignment2 VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [70]:
# 8 a

%sql SELECT Distinct Temperature from assignment2

 * sqlite://
Done.

[(24.8,),
 (27.9,),
 (27.6,),
 (28.4,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [61]:
#8 b
%sql SELECT Distinct City from assignment2

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [67]:
#8 c
%sql SELECT Distinct * from assignment2 where Country='India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2)]

In [71]:
#8 d
%sql Select Distinct Rainfall from assignment2

 * sqlite://
Done.

[(5.9,),
 (1549.4,),
 (346.0,),
 (16.2,),
 (207.7,),
 (169.6,),
 (157.0,),
 (218.5,),
 (16.5,),
 (6.5,),
 (0.1,),
 (4.5,)]

In [73]:
#8 e 
%sql select Distinct city, country,season from assignment2 where Rainfall Between 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [80]:
#8 f
%sql select distinct city,country from assignment2 where temperature>20 AND season= 'Fall' ORDER by temperature ASC

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [98]:
#8 g 
%sql select  SUM(Rainfall) from assignment2 where country='cario'

 * sqlite://
Done.

[(None,)]

In [88]:
#8 h
%sql select season, Sum(rainfall) from assignment2 group by season

 * sqlite://
Done.

[('Fall', 1138.0),
 ('Spring', 384.59999999999997),
 ('Summer', 3413.0),
 ('Winter', 460.2)]

# Question9

# a

In [12]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
#converting uppercase
U= [word.upper() for word in words]
print(U)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# b

In [13]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
#converting lowercase
L= [word.lower() for word in words]
print(L)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# c

In [11]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
#finding length for all words in sentence
word_lengths = [len(word) for word in words]
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]

# d

In [19]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
print("The list containing words, the same in uppercase and lowercase and the length of the word : ")
print([[L.upper(), L.lower(), len(L)] for L in words],"\n")

The list containing a list for every word of list words, the same in uppercase and lowercase and the length of the word :
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# e

In [16]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
#choosing words which have more than 4 letters
new =[word for word in words if len(word) >=4]
print(new)

['quick', 'brown', 'jumps', 'over', 'lazy']

# 9 a-e all together

In [21]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

print("The upper case of list :")
print([L.upper() for L in words],"\n")

print("The lower case list of words :")
print([L.lower() for L in words],"\n")

print("The length of each word in the list :")
print([len(L) for L in words],"\n")

print("The list containing words, the same in uppercase and lowercase and the length of the word : ")
print([[L.upper(), L.lower(), len(L)] for L in words],"\n")

print("The list of words in list words containing 4 or more characters :")
print([L for L in words if len(L)>=4])

The upper case of list :
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

The lower case list of words :
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

The length of each word in the list :
[3, 5, 5, 3, 5, 4, 3, 4, 3]

The list containing words, the same in uppercase and lowercase and the length of the word :
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

The list of words in list words containing 4 or more characters :
['quick', 'brown', 'jumps', 'over', 'lazy']